*{
    box-sizing: border-box;
    margin: 0;
}

h1{
    text-align: center;
    color: white
}

.contenedor-formulario{
    border-radius: 10px;
    margin: 10px 0;
    padding: 20px;
    width: 50%;
    position: relative;
    left: 25%;
}

input[type="text"],
input[type="email"],
select,
textarea{
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid grey;
    box-sizing: border-box;
}

input[type="submit"]{
    width: 100%;
    padding: 8px;
    margin: 10px;
    background-color: rgb(141, 117, 172);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
}

label{
    color: rgb(122, 153, 255);
    font-weight: 600;
}




